.main-container{
    display: flex;
    justify-content: center;
}
.signup-box{
    width: auto;
    height: auto;
    margin: 4rem;
    border-top-style: none;
    background-color: white;
    box-shadow: 1px 6px 9px 0px #262626;
    border-radius:5px;
}
#dob{
    padding: 1rem;
    border: #49A37B solid 2px;
    border-radius: 5px;
    color: #49A37B;
}
.form-signup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 1rem 1rem;
}
h2{
    margin-top: 2rem;
    text-align: center;
}
.input-signup{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 15px;
    margin-bottom: 3rem;
}
.input-box{
    margin: 5%;
    border: none;
    border-bottom: solid #49A37B 0.5px;
    margin-top:5%;
}
.label{
    align-self: flex-start;
    font-size: 13px;
    background: #49a37a9f;
    color: white
}
.label-error{
    background: rgba(255, 0, 0, 0.471);
}
.btn-create{
    width: 100%;
    height: 30px;
    margin: 0.3rem;
    border: none;
    background-color: #AACE9B;
    border-radius: 5px;
    font-size: 12px;
    color: white;
} 
.alert{
    color: red;
    font-size: 11px;
    display: none;
}
.alert-active{
    display: block;
}
.input-error{
    border-bottom: red solid 2px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-success {
    background-color: #49a37ac3;
}
.modal-error {
    background-color: rgba(255, 0, 0, 0.652);
}