html{
	margin:0%
}
body {
    font-family: 'Roboto', sans-serif;
	background: #f2f8f5;
	margin: 0%;	
}
*{
	text-decoration: none;
}
header{
    background: #49A37B;
    background: linear-gradient(to bottom,  #49A37B,  #add6c4);
    border-radius: 5px;
	height: 50px;
	margin-bottom: 0%;
	display: block;
}	
header div{
	margin-left: 30%;
}
header a{
	color: white;
	margin-left: 1%;
	margin-right: 1%;
}
header img{
	position:absolute;
}
aside{
	background: #49A37B;
    background: linear-gradient(to bottom,  #49A37B,  #add6c4);
	width: 10%;
	display: flex;	
	position: relative;
    float: left;
    flex: 1;
}
aside ul{
	padding-inline-start: 5px;
}
aside li{	
	list-style: none;
}
aside a{
	color: black;
	text-decoration: none;
}
h1{
	letter-spacing: 2px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 200%;
	}
.home{
	border-color: black;
	width: 400px;
	padding: 1%;
	margin-left: auto;
	margin-right: auto;
}
.our-job{
	text-align: center;
	background: #AACE9B;
	width: 40%;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;	
}
.functionalities{
	text-align: center;
}
.functionalities div{
	display: inline-block;
	background: #49A37B;
    background: linear-gradient(to bottom,  #49A37B,  #add6c4);
	width: 15%;
	height: 70px;
	padding: 2%;
	color: white;
	margin: 2%;
	border-radius: 10px;
	list-style: none;
}
.choose h2{
 text-align: center;
}
.choose{
	background: #AACE9B;
	width: 30%;
	padding: 0.5%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.contact h2{
	text-align: center;
}
.contact{
	background: #AACE9B;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: black solid 1px;	
}
.contact .subtitle {
	background-color: #f2f8f5;
	padding: 15px;
	border: black solid 1px;
}
.contac button{
	float: right;
}
.contact form{
	display: table-caption;
}
.about-us h2{
	text-align: center;
}
.about-us{
	background: #AACE9B;
	display: inline-block;
	width: 90%;
	margin: 3%;
	padding: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}
.sitemap{
	border-top: solid 1px #49A37B;
}
.sitemap div{
    background: linear-gradient(180deg, #AACE9B 0%, rgba(170, 206, 155, 0.541667) 45.83%, rgba(170, 206, 155, 0.708333) 95.31%, rgba(170, 206, 155, 0) 100%);
  	width: 20%;
	display: inline-block;
	color: black;
	margin-left: 10%;
	font-weight: bold;	
}
.sitemap a{
	font-weight: normal;
	color: black;
}
.footer{
	text-align: center;
	border-top: solid 1px #49A37B;
	padding: 2%;
}

